.nearestEventDetails{
    height: min-content;
    width: 80%;
    background-color: rgb(210, 223, 239);
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}