.projectItems{
    margin: .5rem;
    height: 6rem;
    background-color: rgb(220, 228,241);
    border-radius: 1rem;
    padding: 1rem;
}
.MainDiv{
    width: 70%;
    border-radius: 1rem;
    padding: 1rem;
    justify-content: space-between;
}