.projectItems{
    margin: .5rem;
    height: 6rem;
    background-color: rgb(220, 228, 241);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}